body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  /* flex: 1 0 auto; */
  left: 500px;
}
/* 
#img-logo {
  height: 95%;
  width: auto;
  object-fit: scale-down;
<<<<<<< HEAD
} */

/* Sidenav */

form, main, footer {
  padding-left: 250px;
}

@media only screen and (max-width: 992px){
  form, main, footer {
    padding-left: 0;
  }
=======
}

.recipe-card {
  height: 30rem;
}

.card-title {
  font-size: 1rem;
>>>>>>> refs/remotes/origin/main
}