* {
  padding:0;
  margin:0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: 'Darker Grotesque', sans-serif;
}

main {
  flex: 1 0 auto;
}

.ing-list li {
font-size: 20px;
padding-left: 1rem;
}

.ing-item:hover {
  cursor: pointer;
  color:aliceblue;

}

.fa {
    display: flex; 
    position: relative; 
    margin-right: 9px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    justify-content: center; 
    text-decoration: none;
    border-radius: 50%; 
  }
  
  #img-logo {
    object-fit: fill;
  }

  .fa:hover {
    opacity: .7;
  }
  
  /* Set a specific color for each brand */

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
      background: rgb(252, 85, 252);
      color: white; 
  }

  /* Return button alignment */ 

#returnBtn {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: 20px; 
}

#ingredients {
    border: 3px solid rgb(247, 190, 85);
}

#taste-descrip {
    border: 3px solid rgb(247, 190, 85); 
}

.name-card {
  padding: 10px !important;
}

.recipe-card {
   height: 20rem;
   border-radius: 10px;
}

.recipe-title {
  font-size: 20px !important;
}

.recipe-link {
  font-size: 1rem;
}

.img-adjust {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

/*  Sidenav */

main, footer {
  padding-left: 100px;
}

@media only screen and (max-width: 820px){
  form, main, footer {
    padding-left: 0;
  }
}